<div class="input">
  <form method="get" onsubmit="submitUrl()">
    Enter the image name you want to search : <br><input type="text" name="url" id="longInputBox">
    Offset: <input type="number" min="0" max="100" value="0" id="offset" name="offset">
    <input type="submit" value="Submit">
  </form>
</div>
<br/><br/><br/>
<div class="output" id="output">
    
</div>
<script type="text/javascript">
  function submitUrl()
  {
    let URLBase = "https://image-search-abstraction-layer-fcc-four.glitch.me/output";
    var searchString = document.getElementById("longInputBox").value;  
    var offset = document.getElementById("offset").value;
    finalURL = URLBase +"?url="+ document.getElementById("longInputBox").value + "&offset=" + document.getElementById("offset").value;
    window.location.href = finalURL; 
  }
</script>